  .hatch {
    background: url('skin.jpg');
    background-size: 700px;
  }

  #main.hatch {
    animation-duration: 100s;
  }



  @keyframes AnimationName { 
    0%{background-position:0px 0px}
    100%{background-position:700px 800px}
  }

  .light {
    background: transparent;
    width: 100%;
  }


  #middle {
    border-radius: 0px;
    margin: auto;
    width: 70%;
    opacity: .8;
    height: 500px;
    background-image: url("amputate.png");
    background-size: 100%;
    background-repeat: no-repeat;
    text-align: center;
    background-position: center;
  }